body{background-color: bisque;}
.ProfileTitle{background-color: cadetblue; font-family: 'Courier New';}
.Profiledetail{background-color: darkgoldenrod; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode';}
